@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css');


:root {
  --custom-1: #0D2C3B;
  --custom-2: #39604C;
  --custom-3: #E7E1CF;
  --custom-4: #ffff;
  --custom-5: #000;
  --custom-6: #D90000;
  --custom-gray-1: #EBEBEB;
  background-color: var(--custom-4);
}

@layer utilities {
  .bg-gradient {
    background: linear-gradient(to bottom, #0D2C3B, #39604C, #E7E1CF);
  }
}

/* Styles pour les boutons radio */
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid var(--custom-2);
  border-radius: 50px; 
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: var(--custom-2);
  color: white;
}

input[type="radio"] + label:hover {
  background-color: var(--custom-2);
  color: white;
}


/* Bouton Filtre Active */
.filter-btn.active {
  background-color: var(--custom-2);
  color: white;
}


/* Toggle */
.toggle-container {
  position: relative;
  width: 60px;
  height: 34px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  width: 100%;
  height: 100%;
  transition: background-color 0.4s;
}

.toggle-label::before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  background-color: white;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: transform 0.4s;
}

.toggle-input:checked + .toggle-label {
  background-color: var(--custom-2);
}

.toggle-input:checked + .toggle-label::before {
  transform: translateX(26px);
}


/* Styles généraux pour tous les inputs */
.wrapper {
  position: relative;
  width: min(325px, 80vw);
  margin-bottom: 1rem;
  font-family: 'Raleway', sans-serif;
  color: var(--white);
}

input, select, textarea {
  width: 100%;
  border: 1.5px solid var(--custom-4);
  border-radius: 0.25rem;
  outline: none;
  background-color: transparent;
  color: var(--custom-2);
  padding: 1rem;
  transition: border-color 0.5s;
  font-family: inherit;
}

input:focus, select:focus, textarea:focus {
  border-color: var(--custom-5);
}

input:focus + .input-placeholder,
input:not(:placeholder-shown) + .input-placeholder,
select:focus + .input-placeholder,
select:not([value=""]) + .input-placeholder,
textarea:focus + .input-placeholder,
textarea:not(:placeholder-shown) + .input-placeholder {
  transform: translateY(-1.8rem) scale(0.75);
  padding: 0 0.25rem;
  color: var(--custom-2);
}

.input-placeholder {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--custom-2);
  transition: transform 0.5s, color 0.5s;
  background-color: var(--custom-4);
  padding: 0 0.25rem;
  pointer-events: none;
}

textarea {
  resize: vertical;
  min-height: 5rem;
}


/* Infinite container */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-content {
  display: flex;
  animation: scroll 60s linear infinite;
  gap: 1rem;
}

.scroll-item {
  flex: 0 0 auto;
  width: 100px;
}

/* Styles pour Swiper */
.swiper {
  width: 260px;
  height: 400px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

/* Infinite container Avis */
@keyframes scroll-avis {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-container-avis {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.scroll-content-avis {
  display: flex;
  animation: scroll-avis 20s linear infinite;
  gap: 1rem;
}

.scroll-item-avis {
  flex: 0 0 auto;
  width: 350px;
  height: auto;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}