@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-1: #0D2C3B;
  --custom-2: #39604C;
  --custom-3: #E7E1CF;
  --custom-4: #ffff;
  --custom-5: #D90000;
  --custom-gray-1: #EBEBEB;
}
